<section id="{{ class_name | lower }}">
  <h3>{{ class_name }}</h3>

  {% if class_description %}
  <p>{{ class_description }}</p>
  {% endif %}

  {% if spec_intro_html %}
  {{ spec_intro_html | safe }}
  {% endif %}

  {% include "class_table.jinja2" %}

  {% if spec_content_html %}
  {{ spec_content_html | safe }}
  {% endif %}

  {% if subsections_html %}
  {{ subsections_html | safe }}
  {% endif %}
</section>
