<section>
  <h3><code>{{ class_name }}</code></h3>

  {% if class_description %}
  <p>{{ class_description }}</p>
  {% endif %}

  {% if spec_intro_html %}
  {{ spec_intro_html | safe }}
  {% endif %}

  {% include "class_table.jinja2" %}

  {% if spec_content_html %}
  {{ spec_content_html | safe }}
  {% endif %}

  {% if subsections_html %}
  {{ subsections_html | safe }}
  {% endif %}
</section>
